* {
    padding: 0;
    margin: 0;
}

th {
	background: blue;
	color: white;
}

.master {
	margin: 20px auto;
	width: 60%;
}

.menu {
	width: 22%;
	float: left;
}

.corpo {
	width: 78%;
	line-height: 1.5em;
}

.erro {
	color: #FF0000;
	font-style: italic;
	font-size: small;
}